.vs/
[Oo]bj/
[Bb]in/
Megumin.UnityPackage/Library/
Megumin.UnityPackage/Logs/
[p]ackages/
!Megumin.UnityPackage/Packages/
Megumin.UnityPackage/Temp/
Megumin.UnityPackage/Assembly-CSharp.csproj
Megumin.UnityPackage/Megumin.Explosion4Unity.csproj
Megumin.UnityPackage/Megumin.UnityPackage.sln
Megumin.UnityPackage/Packages/Megumin.Unity/Plugins/
Megumin.UnityPackage/Packages/Megumin.Explosion4Unity/Plugins/
Megumin.UnityPackage/Megumin.Explosion4Unity.Editor.csproj
Megumin.UnityPackage/Bulid/
Megumin.UnityPackage/Megumin.ReferenceViewer.csproj
Megumin.UnityPackage/Megumin.TMProExtention.csproj
Megumin.UnityPackage/ValidationSuiteResults/
Megumin.UnityPackage/Megumin.Explosion4Unity.Editor.Tests.csproj
Megumin.UnityPackage/Megumin.Explosion4Unity.Tests.csproj
Megumin.UnityPackage/Megumin.ReferenceView.Editor.Tests.csproj
Megumin.UnityPackage/Megumin.TMProExtension.csproj
Megumin.UnityPackage/Megumin.TMProExtension.Tests.csproj
Megumin.UnityPackage/npm-debug.log
